<h1>Add a New Recipe</h1>
<div class="container">
  <div class="form-group">
  <form class="" action="/add_recipe" method="post">
    <label for="name">Recipe Name</label>
    <input type="text" name="name">

    <label for="message">Ingredients</label>
    <textarea name="ingredients" rows="50" cols="50" placeholder="shoulda coulda" style="height:100px;"></textarea>

    <label for="message">Instructions</label>
    <textarea name="instructions" rows="50" cols="50" placeholder="Enter instructions" style="height:100px;"></textarea>

    <label for="tags">Tag</label>
    <input type="text" name="tag">

    <button type="submit" name="new_recipe" class="btn btn-info">Add a New Recipe</button>
  </form>
  </div>
</div>

<a href="/">Home</a>
