<!--List everything and give the option to add each individual thing-->
<div class="row">
  <div class="col col-xs-4">
    <h6>Stores</h6>
    <% @stores.each() do |store| %>
      <div class="row">
        <div class="col-xs-6">
          <li><a href=""><%= store.name %></a></li>
        </div>
        <div class="col-xs-3">
          Edit
        </div>
        <div class="col-xs-3">
          Delete
        </div>
      </div>
    <% end %>
  </div>
  <div class="col col-xs-4">
    <h6>Brands</h6>
    <% @brands.each() do |brand| %>
      <div class="row">
        <div class="col-xs-12">
          <li><a href=""><%= brand.name %></a></li>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col col-xs-4">
    <h6>Shoes</h6>
    <% @shoes.each() do |shoe| %>
      <div class="row">
        <div class="col-xs-12">
          <li><a href=""><%= shoe.name %></a></li>
        </div>
      </div>
    <% end %>
  </div>
</div>
